.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.loading {
  margin-top: 10%;
  /* background-color: rgb(88, 88, 88); */
  opacity: 0.7;
  /* color: white; */
}
.rootData-item {
  width: 28vw;
  height: 50vh;
  background-color: azure;
  margin-bottom: 1rem;
  border-radius: 2%;
  padding: 1%;
  cursor: pointer;
}
.rootData-item > img {
  margin: 0.8rem;
  width: 92%;
  height: 80%;
}
.title {
  color: blueviolet;
  font-weight: bolder;
  font-size: larger;
}
.rootData-item:hover {
  background-color: rgb(150, 224, 224);
}
@media only screen and (max-width: 768px) {
  .rootData-item {
    width: 50%;
  }
}
