.card-container {
  position: relative;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-height: 100vh;
  padding: 2%;
}
.card-parent {
  display: flex;
  margin: 0 16vw;
  max-width: 50vw;
  align-items: center;
  gap: 2%;
  /* overflow: hidden; */
  scroll-behavior: smooth;
  text-align: center;
  word-wrap: break-word;
}
.slide {
  padding: 5%;
  flex: 0 0 auto;
  width: 100%;
  min-height: 60vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(244, 175, 205) 0%,
    rgb(166, 202, 242) 100%
  );
  opacity: 0;
  display: none;

  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.active-slide {
  opacity: 1;
  display: block;
}

.arrow-button {
  /* min-width: 10%; */
  padding: 2%;
  border-radius: 50%;
  background-color: rgb(205, 231, 255);
}
